
<% if !@shifts.empty? %>
  <% @shifts.each do |shift| %>
    <div class="shift_container">
      <p><%= shift.created_at.strftime('%a %-d %B') %></p>
      <p><%= shift.trailer.identifier %></p>
      <p><%= shift.start_depot.branch %></p>
      <p><%= shift.end_depot.branch %></p>
      <p><%= shift.comments %></p>
    </div>
  <% end %>
<% else %>
<h2>You don't have shifts</h2>
<% end %>