<%#  Only display shifts for the actual user %>

<div class="main-container">
  
  <div class="flex-container">
  <h3 class='header'>Your last Shifts </h3>
  <a id='new-shift' class='btn submit edit new' href="/shifts/new">Create a new One</a>
    <% if !@shifts.empty? %>
      <% @shifts.each do |shift| %>
        <div class="shift-container">
        <div class="display-info">
          <h5>Date</h5>
          <p><%= shift.created_at.strftime('%A %-d %B') %></p>
        </div>
        <div class="display-info">
          <h5>Trailer</h5>
          <%= binding.pry %>
          <a href="/trailers/<%= shift.trailer.identifier %>"><p><%= shift.trailer.identifier %></p></a>
        </div>
        <div class="display-info">
          <h5>From</h5>
          <a href="/depots/<%= shift.start_depot.branch %>"><p><%= shift.start_depot.branch %></p></a>
        </div>
        <div class="display-info">
          <h5>To</h5>
          <p><%= !shift.incomplete? ? shift.end_depot.branch : 'Incomplete' %></p>
        </div>
        <div class="display-info">
          <a class='btn submit edit' href="/shifts/<%= shift.id %>/edit"><%= !shift.incomplete? ? 'EDIT' : 'FINISH IT' %></a>
        </div>
        </div>
      <% end %>
    <% else %>
      <h2>You don't have shifts</h2>
    <% end %>
  </div>


</div>