<h1>Create a New Shift Record</h1>

<form action="/shifts" method="post">
<input type="hidden" name="shift[worker_id]" value="<%= session[:id] %>">
<label  for="trailer_id">Select Your Trailer</label>
  <select class='selectize' name="shift[trailer_id]" id="trailer_id" required>
    <option></option>
    <% Trailer.all.each do |trailer| %>
      <option value="<%= trailer.id %>"><%= trailer.identifier %></option>
    <% end %>
  </select>

  <label for="start_depot">Start Depot: </label>
  <select class='selectize' name="shift[start_depot]" id="start_depot" required>
    <option></option>
    <% Depot.all.each do |depot| %>
      <option value="<%= depot.id %>"><%= depot.branch %></option>
    <% end %>
  </select>
  <label for="end_depot">Finish Depot: </label>
  <select class='selectize' name="shift[end_depot]" id="end_depot">
    <option></option>
    <% Depot.all.each do |depot| %>
      <option value="<%= depot.id %>"><%= depot.branch %></option>
    <% end %>
  </select><br>
  <label for="comments">Anything To Report: </label><br>
  <textarea name="shift[comments]" id="comments" maxlength="250" placeholder="type max 250 characters"></textarea>

  <input type="submit" value="Start Shift">


</form>
