<form action="/trailers/<%= @trailer.identifier %>" method="post">
<input type="hidden" name="_method" value="patch" id="hidden"> 

  <label for="identifier">Trailer Identifier: </label><br>
  <input type="text" name="trailer[identifier]" id="identifier" value= '<%= @trailer.identifier %>' required><br>
  
  <label for="trailer_depot"> Select Branch: </label><br>
  <select class='selectize' name="trailer[depot_id]" id="trailer_depot">
    <% Depot.all.each do |depot| %>
      <option <%= 'selected' if depot.id == @trailer.depot.id %> value="<%= depot.id %>"><%= depot.name %> - <%= depot.location %></option>
    <% end %>
  </select><br>
  <label for="mot_date">Next MOT due: </label><br>
  <input type="date" name="trailer[mot_date]" id="mot_date" value='<%= @trailer.mot_date %>' required><br>
  <p>Is VOR?</p>
  <label for="vor">Yes</label>
  <input type="radio" name="trailer[vor]" id="Yes" <%= 'checked' if @trailer.vor %> value= 1>
  <label for="no">No</label>
  <input type="radio" name="trailer[vor]" id="No" <%= 'checked' if  @trailer.vor == false  %> value= 0>

  <input type="submit" value="Edit Trailer">

</form>