<div class="main-container">
  <div class="inner-container">
  
 
  <% if @worker.rol.nil? %>
    <h2 class='form-header h2-header' >Complet your profile</h2>
    <% else %>
     <h2 class='form-header h2-header' >Edit your profile</h2>
  <% end %>
  <div class="form-container">
    <form action="/profiles/<%= @worker.id %>" method="POST">
      <input type="hidden" name="_method" value='PATCH' id='hidden'>
      <input type="hidden" name="worker[is_admin?]" value='false' id='is_admin'>
      <div class="float-label">
        <input type="text" name="worker[first_name]" id="first_name" value=<%= @worker.first_name %>>
        <label for="first_name">First Name </label>
      </div>
      <div class="float-label">
        <input type="text" name="worker[last_name]" id="last_name" value=<%= @worker.last_name %>>
        <label for="last_name">Last Name </label>
      </div>
      <div class="float-label">
        <input type="email" name="worker[email]" id="email" value=<%= @worker.email %>>
         <label for="email">Email </label>
        </div>
      <div class="float-label">
        <input type="text" name="worker[license]" id="license" value='<%= @worker.license %>' required >
        <label for="license">license </label>
      </div>
      <div class="float-label">
        <input  <%= 'disabled' if @worker.seniority %> type="date" name="worker[seniority]" id="seniority" value= <%= @worker.seniority || Time.now.strftime("%Y-%m-%d") %>>
        <label class='valid' for="seniority">Seniority </label>
      </div>
  <% if current_user(session).is_admin? %>
    <div class="float-label">
        <select class='selectize-input' name="worker[rol]" id="rol" required>
          <option></option>
          <% Role.all.each do |rol| %>
            <option <%= 'selected' if @worker.rol == rol %> value="<%= rol %>"><%= rol.upcase %></option>
          <% end %>
        </select>
        <label class='valid' for="rol">Select Roll</label>
      </div>
      <div class="float-label">
        <select class='selectize' name="worker[depot_id]" id="depot">
          <option></option>
          <% Depot.all.each do |depot| %>
            <option <%= 'selected' if @worker.depot == depot %> value="<%= depot.id %>"><%= depot.branch %></option>
          <% end %>
        </select>
        <label class='valid especial' for="depot">Select or type your Depot</label>
      </div>
  <% end %>
      
   


      <input class='btn submit' type="submit" value="Submit">
    </form>

 


<script>
document.getElementById("rol").addEventListener('change', function(){
document.getElementById("license").required = this.value == 'driver'; 
document.getElementById("is_admin").value = this.value == 'admin';
})
</script>
  </div>
</div>
 </div>