<h1>This is the Model's index page.</h1>

<% @depots.each do |depot| %>
  <div class="depot_wrap">
    <h2><%= depot.name %> <%= depot.location %></h2>
    <p><%= depot.trailers.count %></p>
    <% if depot.admin %>
      <p><%= depot.admin.name %></p>
    <% end %>

    <button><a href="/depots/<%= depot.slug %>">More info</a></button>
  </div>
<% end %>